/**
 * Styles for points logs tables.
 *
 * @package WordPoints
 * @since 1.6.0
 *
 * Index:
 * 1. General styles for the table.
 * 2. Table wrapper.
 * 3. Pagination.
 * 4. Avatars.
 * 5. Search.
 * 6. Restrictions.
 * 7. Hidden columns.
 * 8. Forced horizontal scrolling.
 * 9. Hidden user names.
 */

/**
 * 1.0 Table
 */

table.wordpoints-points-logs {
	clear: both;
	width: 100%;
	margin: 0 auto 10px;
	table-layout: auto;
}

.wp-admin table.wordpoints-points-logs tr.odd {
	background-color: #f3f4ff;
}

.wp-admin table.wordpoints-points-logs tr.even {
	background-color: #fff;
}

/**
 * 2.0 Table wrapper
 */

.wordpoints-points-logs-wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	margin: 10px 0;
	overflow-x: scroll;
}

/**
 * 3.0 Pagination
 */

.wordpoints-points-logs-wrapper .page-numbers {
	margin: 2px 3px;
	color: #222;
	height: 22px;
	line-height: 22px;
}

.wordpoints-points-logs-wrapper a.page-numbers {
	border: 1px solid #ddd;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333;
	-webkit-box-shadow: 0 0 1px #e1e1e1;
	box-shadow: 0 0 1px #e1e1e1;
	background-color: #ddd;
	text-decoration: none;
}

.wordpoints-points-logs-wrapper a.page-numbers:active {
	outline: none;
}

.wordpoints-points-logs-wrapper a.page-numbers:hover {
	text-decoration: none;
	background-color: #fff;
}

.wordpoints-points-logs-wrapper .page-numbers.current:hover {
	cursor: default;
}

/**
 * 4.0 Avatars
 */

.wordpoints-points-logs .avatar {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

/**
 * 5.0 Search
 */

.wordpoints-points-logs-search {
	float: right;
	margin: 10px 0;
}

.wordpoints-points-logs-searching {
	float: left;
	margin: 15px;
	color: #666;
	font-size: larger;
}

/**
 * 6.0 Restrictions
 */

.wordpoints-log-viewing-restrictions {
	font-style: italic;
	margin-top: 5px;
	opacity: 0.82;
}

.wordpoints-log-viewing-restriction:before {
	content: "\f530";
	display: inline-block;
	width: 15px;
	height: 16px;
	font-size: 15px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
}

/**
 * 7.0 Hidden columns
 */

.wordpoints-points-logs.wordpoints-hide-user-column th:nth-of-type(1),
.wordpoints-points-logs.wordpoints-hide-user-column td:nth-of-type(1),
.wordpoints-points-logs.wordpoints-hide-points-column th:nth-of-type(2),
.wordpoints-points-logs.wordpoints-hide-points-column td:nth-of-type(2),
.wordpoints-points-logs.wordpoints-hide-description-column th:nth-of-type(3),
.wordpoints-points-logs.wordpoints-hide-description-column td:nth-of-type(3),
.wordpoints-points-logs.wordpoints-hide-time-column th:nth-of-type(4),
.wordpoints-points-logs.wordpoints-hide-time-column td:nth-of-type(4) {
	display: none;
}

/**
 * 8.0 Forced horizontal scrolling
 */

table.wordpoints-points-logs.wordpoints-force-horizontal-scrolling {
	width: 500px;
}

/**
 * 9.0 Hidden user names
 */

/* This is copied from wp-admin/css/common.css */
/* Hide visually but not from screen readers */
.wordpoints-points-logs.wordpoints-hide-user-names .wordpoints-points-log-user-name {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

/* EOF */
