/**
 * WordPoints top users table styles.
 *
 * @package WordPoints\Points
 * @since 1.0.0
 */

/*
 * Top users widget.
 */

.widget_wordpoints_top_users_widget .wordpoints-points-top-users {
    width: 100%;
	table-layout: auto;
}

/*
 * Avatars.
 */

.wordpoints-points-top-users .avatar {
	margin-right: 5px;
}

/*
 * Screen reader text.
 */

/* Copied from wp-admin/css/common.css */
/* Hide visually but not from screen readers */
.wordpoints-points-top-users .screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

/* EOF */
