<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".php">tests/phpunit/tests/</directory>
		</testsuite>
		<testsuite name="uninstall">
			<!-- You must use "-\-group uninstall" when running this suite. -->
			<file>tests/phpunit/tests/uninstall.php</file>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ajax</group>
			<group>uninstall</group>
			<group>ui</group>
		</exclude>
	</groups>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
