/**
 * Styles for the hooks administration screen.
 *
 * Index:
 * - Heading
 * - Hook Reaction Group Container
 * - Hook Reaction Group
 * - Hook Reaction
 * -- View
 * -- New
 * -- Messages
 * -- Form
 * -- Editing
 * -- Changed
 * - Conditions
 * -- Buttons
 * -- Title
 * -- Add New Form
 * -- Groups
 * -- Group
 * -- Condition
 *
 * @package WordPoints
 * @since 2.1.0
 */

$background_color: #f7f7f7;
$lighter_border_color: #ddd;
//$darker_border_color: #bbb;

/*
 * Heading.
 */

#poststuff .wordpoints-hook-events-heading h2 {
	margin-top: 0;
	font-size: 1.3em;
	padding: 8px 2px;
}

#events-sortables {
	.hndle {
		padding: 14px;
	}

	.handlediv {
		height: 48px;
		width: 44px;

		&:before {
			right: 4px;
		}
	}
}

.wordpoints-hook-events-heading p {
	margin-left: 5px;
	margin-bottom: 15px;
}

/*
 * Hook Reactions Group Container.
 */

/* In case the containers are in meta boxes. */
#events-sortables {
	-webkit-column-width: 400px;
	-moz-column-width: 400px;
	column-width: 400px;

	.postbox {
		display: block;
		break-inside: avoid-column;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
	}

	.inside {
		margin: 0;
		padding: 0;
	}
}

.wordpoints-hook-reaction-group-container {
	.wordpoints-hook-reaction-group-description {
		margin: 10px;
	}

	.controls {
		background-color: $background_color;
		border-top: 1px solid $lighter_border_color;
		padding: 5px;
		min-height: 30px;

		.add-reaction,
		.wordpoints-hook-events {
			float: right;
		}

		.add-reaction {
			margin-left: 5px;
		}
	}

	.spinner {
		width: 22px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -10px auto auto -10px;
		opacity: 1;
		display: block;
	}

	.spinner-overlay {
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: #fff;
		opacity: 0.75;
		display: none;
		position: absolute;
		top: 0;
	}
}

/*
 * Hook Reaction Group.
 */

.wordpoints-hook-reaction-group {
	padding: 0 10px;
}

.js .wordpoints-hook-reaction-group .err {
	display: none;
}

/*
 * Hook Reaction.
 */

.wordpoints-hook-reaction {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	margin-bottom: 10px;

	/*
	 * - View.
	 */

	.view {
		border: 1px solid $lighter_border_color;
		padding: 12px;
		background-color: $background_color;

		.close {
			float: right;
			margin-top: -23px;
			display: none;
		}

		.title {
			font-weight: bold;
		}
	}

	.edit {
		float: right;
		margin-top: -23px;
	}

	/*
	 * - Messages.
	 */

	/* We use .success and .err instead of .updated and .error, because the later
	 * two are moved to the top of the page by WordPress.
	 */
	.success,
	.err {
		padding: 5px;
		margin: 0;
		display: none;
		background-color: #fff;
		border-top: 1px solid $lighter_border_color;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	}

	.success {
		border-left: 4px solid #7ad03a;
	}

	.err {
		border-left: 4px solid #dd3d36;
		background-color: #fff1f1;

		p {
			margin: 0;
		}
	}

	.fields .err {
		margin: 5px 0;
		display: block;
		border: 1px solid #dd3d36;
		border-left-width: 4px;
	}

	/*
	 * - New.
	 */

	&.new .action-buttons .delete {
		display: none;
	}

	/*
	 * - Form.
	 */

	.form {
		border: 1px solid $lighter_border_color;
		border-top: none;
		display: none;
	}

	.settings,
	.target {
		padding: 5px;
	}

	.settings {
		padding-bottom: 0;
	}

	.target {
		padding-top: 0;
	}

	.fields .description {
		margin-bottom: 15px;
		width: 100%;
		height: auto;
	}

	.actions {
		position: relative;
	}

	.action-buttons {
		height: 30px;
		border-top: 1px solid $lighter_border_color;
		padding: 5px;
		background-color: $background_color;

		.cancel,
		.close,
		.save {
			float: right;
		}

		.cancel {
			display: none;
		}

		.save {
			margin-left: 5px;
		}

		.delete {
			float: left;
		}
	}

	/*
	 * - Editing.
	 */

	&.editing {
		.form,
		.view .close {
			display: block;
		}

		.view .edit {
			display: none;
		}
	}

	/*
	 * - Changed.
	 */

	&.changed {
		.action-buttons .cancel {
			display: block;
		}

		.action-buttons .close,
		.view .close {
			display: none;
		}
	}

	/*
	 * Sections.
	 *
	 * - Title
	 */

	.section-title {
		font-size: 14px;
		background-color: $background_color;
		padding: 9px 5px 9px 8px;
		border: 1px solid $lighter_border_color;
		border-left: none;
		border-right: none;
	}

	.section-title h4 {
		margin: 0;
	}

	/*
	 * - Content.
	 */

	.section-content {
		margin-top: 5px;
		padding: 5px;
	}

	/*
	 * Conditions.
	 *
	 * - Buttons.
	 */

	.conditions .add-new,
	.conditions .delete {
		float: right;
		padding: 0 5px;
		margin-top: -23px;
	}

	.conditions .delete {
		margin-top: -28px;
	}

	.conditions .button-link .dashicons {
		vertical-align: middle;
	}

	/*
	 * - Add New Form.
	 */

	.add-condition-form {
		background-color: $background_color;
		padding: 5px 5px 8px 5px;
		border-radius: 0 0 5px 5px;
		border: 1px solid $lighter_border_color;
		border-top: none;
		margin: 0 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.condition-selectors select {
		float: left;
	}

	/*
	 * - Group.
	 */

	.condition-group-title {
		font-weight: bold;
		margin-bottom: 2px;
	}

	/*
	 * - Condition.
	 */

	.condition {
		padding-left: 5px;
		border-left: 3px solid $background_color;
	}

	.condition-title {
		padding: 5px 0;
	}

	.condition-settings {
		padding-left: 5px;
		border-left: 3px solid $background_color;
	}
}


/* EOF */
