/**
 * Styles for datatables.
 *
 * Based on the default styles for datatables.
 *
 * @package WordPoints
 * @since 1.0.0
 *
 * Index:
 * 1. General styles for the table.
 *  - 1.0 Table styles.
 *  - 1.1 Table wrapper styles.
 * 2. Selectors and filters.
 *  - 2.0 Page length menu.
 *  - 2.1 Filter.
 *  - 2.2 Table information.
 * 3. Pagination.
 * 4. Processing indicator.
 * 5. Sorting.
 * 6. Scrolling.
 * 7. Avatars.
 */

/**
 * 1.0 Table
 */

table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.dataTable thead th {
	cursor: pointer;
	*cursor: hand;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd {
	background-color: #f3f4ff;
}

table.dataTable tr.even {
	background-color: white;
}

/**
 * 1.1 Table wrapper
 */

.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	margin: 10px 0;
}

/**
 * 2.0 Page length menu
 */

.dataTables_length {
	float: left;
}

/**
 * 2.1 Filter
 */

.dataTables_filter {
	float: right;
	text-align: right;
	margin-bottom: 5px;
}

/**
 * 2.2 Table information
 */

.dataTables_info {
	clear: both;
	float: left;
}

/**
 * 3.0 Pagination
 */

.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top: 5px;
}

.dataTables_paginate a {
	margin: 2px 3px;
	color: #222;
}

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #ddd;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333;
	box-shadow: 0px 0px 1px #e1e1e1;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #fff;
}

.paging_full_numbers a.paginate_active {
	background-color: #fff;
	color: #555;
}

.paging_full_numbers a.paginate_active:hover {
	cursor: default;
}

.paging_full_numbers a.paginate_button_disabled {
	color: #ccc;
	border: 1px solid #ddd;
	cursor: default;
	background-color: #eee;
}

.paging_full_numbers a.paginate_button_disabled:hover {
	cursor: default;
	background-color: #eee;
}

/**
 * 4.0 Processing indicator
 */

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

/**
 * 5.0 Sorting
 */

table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}

/**
 * 6.0 Scrolling
 */

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

/**
 * 7.0 Avatars
 */

.dataTable .avatar {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
