/**
 * Styles for the modules list table on the Modules admin screen.
 *
 * @since 2.4.0
 */

.plugins tr.active.plugin-update-tr + tr.inactive.wordpoints-module-has-license th,
.plugins tr.active.plugin-update-tr + tr.inactive.wordpoints-module-has-license td,
.plugins tr.active + tr.inactive.wordpoints-module-has-license th,
.plugins tr.active + tr.inactive.wordpoints-module-has-license td,
.plugins tr.update + .wordpoints-module-license-tr td,
.plugins.modules .wordpoints-module-has-license th,
.plugins.modules .wordpoints-module-has-license td {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.plugins .wordpoints-module-license-tr td {
	padding: 0;
}

.wordpoints-license-box {
	margin: -10px 0 5px 37px;
}

.active .wordpoints-license-box {
	margin-left: 33px;
}

.wordpoints-update-action-separator {
	color: #bbb;
}

/* EOF */
