/**
 * Styles for the modules list table on the Modules admin screen.
 *
 * @since 2.4.0
 */

.plugins tr.active.plugin-update-tr + tr.inactive.wordpoints-has-edd-license th,
.plugins tr.active.plugin-update-tr + tr.inactive.wordpoints-has-edd-license td,
.plugins tr.active + tr.inactive.wordpoints-has-edd-license th,
.plugins tr.active + tr.inactive.wordpoints-has-edd-license td,
.plugins tr.update + .wordpoints-module-license-tr td,
.modules .wordpoints-has-edd-license th,
.modules .wordpoints-has-edd-license td {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.plugins .wordpoints-module-license-tr td {
	padding: 0;
}

.wordpoints-license-box {
	margin: 5px 45px 15px 20px;
}

/* EOF */
