/**
 * Styles for the modules table on the update-core.php admin screen.
 *
 * @since 2.4.0
 */

#update-wordpoints-modules-table tbody td p {
	margin-top: 0;
}

#update-wordpoints-modules-table tbody td p strong {
	font-size: 14px;
}

#update-wordpoints-modules-table thead th.check-column,
#update-wordpoints-modules-table tfoot th.check-column {
	padding-top: 11px;
}

#update-wordpoints-modules-table td,
#update-wordpoints-modules-table tbody th {
	border-top: 1px solid #ddd;
}

#update-wordpoints-modules-table tr:nth-child(1) td,
#update-wordpoints-modules-table tbody tr:nth-child(1) th {
	border-top: none;
}

/* EOF */
